flask
flask-socketio
flask-cors
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain_groq
langchain-text-splitters
langgraph
pymupdf
python-dotenv
faiss-cpu
tavily-python
wikipedia
arxiv
flask-restx
werkzeug
sentence-transformers
typing-extensions
numpy
openai
requests
python-multipart
gunicorn